header {
    margin: 3rem auto;
}

.header-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.title {

    &-container {
        flex: 3;
    }
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 0;
    line-height: 2.2rem;
}

.logo {
    max-height: 75px;
    margin-top: 3rem;

    &-container {
        flex: 1;
        text-align: left;
    }
}

@media only screen and (min-width: 500px) {

}

@media only screen and (min-width: 340px) {
    .header-container {
        flex-direction: row;
    }

    .logo {
        margin-top: 0;
        margin-left: 2rem;

        &-container {
            text-align: right;
            margin: 0;
        }
    }
}